/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
} */
/* *,
*:before,
*:after {
  box-sizing: inherit;
  background-color: rgb(182, 164, 248);
} */
/* 
app-container,
.App {
  width: 90%;
  max-width: 700px;
  margin: 2em auto;
  background-color: rgb(182, 164, 248);
} */

header {
  color: black;
  background-color: #b2d732;
  font-family: "McLaren", cursive;
  position: fixed;
  align-items: center;
  align-content: center;
  top: 0 20;
  /* padding: 40px; */
  /* #f5ba13; */
  margin: auto -36px;
  padding: 16px 22px;
  box-shadow: 0 0 10px 0 black;
}

header h1 {
  font-weight: 250;
  /* padding: 20px; */
}

.greeting {
  position: relative;
  text-align: center;
  font-weight: bold;
  margin: 5%;
}

.points {
  display: inline-block;
  /* flex-direction: row; */
  width: 120px;
  height: 120px;
  margin: 0 7px;
  position: relative;
  left: 39%;
  align-items: center;
}

.navbar-item {
  display: inline-block;
  /* flex-direction: row; */
  /* align-items: initial; */
  /* position: relative; */
  font-size: 1.2rem;
  color: black;
  top: 3rem;
  right: 20rem;
  padding: 1% 20% 0% 85%;
  /* position: absolute; */
}

.druglist {
  color: black;
  top: 2rem;
  position: relative;
  padding: 0% 0% 0 2%;
  text-align: center;
}

.props-image {
  width: 220px;
  height: 250px;
}

.footer {
  color: darkblue;
  position: inherit;
  background-color: transparent;
  text-align: center;
  /* height: 2.5rem; */
}
.products,
.home,
.cart,
body {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(182, 164, 248);
  font-weight: 300;
  /* box-sizing: border-box; */
  background-color: rgb(182, 164, 248);
  /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
  /* #9bd770; */
  /* #b2d732; */
  /* #50a3a2; */
  /* width: 100%; */
  /* height: 100%; */
  /* margin: 0; */
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  /* display: block; */
  text-align: center;
  align-items: inherit;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  /* padding-top: 30px; */
  /* width: 300px; */
  /* margin: auto; */
}

.form-login {
  align-items: center;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
  padding: 20px 20px;
  align-items: center;
  text-align: center;
}

.aboutus {
  margin: 10% auto;
  padding: 80px 50px;
  text-align: center;
  background-color: #52a79b;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
}

/* input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: inherit;
  border-radius: 2px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px 20px;
  display: block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: rgb(160, 146, 197);
  font-weight: 300;
} */
span {
  display: table;
  margin: 0 auto;
}

button {
  appearance: none;
  outline: 0;
  border: 0;
  padding: 10px 15px;
  text-align: center;
  margin: auto;
  color: #00bfff;
  /* #9bd770; */
  /* #b2d732; */
  /* #50a3a2; */
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

button:hover {
  background-color: darkolivegreen;
  cursor: pointer;
}

p.lorem-text {
  text-align: justify;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(214, 236, 209, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #95b0e9;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #7f6adb;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal {
  position: relative;
  z-index: 20;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal__header {
  background: rgb(233, 156, 156);
  padding: 3px 25px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.modal__main {
  padding: 20px;
}

.close_button {
  border: none;
  outline: 0;
  background: cornflowerblue;
  padding: 10px;
  cursor: pointer;
  color: #000;
  font-size: 36px;
}

.close_button:hover {
  color: gray;
}

.button {
  background: rgb(243, 170, 170);
  border: none;
  padding: 10px 20px;
  color: rgb(95, 34, 238);
  cursor: pointer;
}

.button:hover {
  background: orange;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.input {
  padding: 5px 15px;
  width: 300px;
}

.user-list {
  margin-top: 30px;
}

.user {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #eee;
  display: flex;
  justify-content: space-between;
}

.user-id {
  color: red;
  margin-right: 20px;
}

.user-name {
  color: blue;
}

.user-price {
  margin-left: auto;
}

.products .cart {
  background-color: rgb(182, 164, 248);
  color: rgba(0, 0, 0, 0.7);
}

.notice {
  color: #000;
}
